
.encabezado{
    
    width: 1600px;
    height: 80px ;
    border-color: blue;

}

.estudio-web{

    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    width: 145px ;
    height: 31px;

    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: right;
    
    color:  #2196F3;
    
}

.menu-nav{
    position: absolute;
    width: 288px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.enlace-activo{
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;

    color: #2196F3;

}
.portafolio{

    margin-left: 50px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;

    color: #212121;
}
.contactos{

    margin-left: 50px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;

    color: #212121;

}
.correo-electronico{
    
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;

    color: #2196F3;
}
.telefono{
    position: absolute;
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}
.principal{
    /* display: flex;
    flex-direction: column; */
}
.titulo{

        height: 600px;
        width: 1600px;
        
        background-color: #2F303A;

        display: flex;
        flex-direction: row-reverse;
        
        display: inline-block;

}
.texto-titulo{

        margin: 0;
        position: absolute;
        
        height: 120px;
        width: 696px;
        left: 448px;
        top: 280px;
        border-radius: 50px;

        font-family: Roboto;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-align: center;

        color: #FFFFFF;

}
.boton{
  
    padding: 350px 670px 200px 669px;    
    display: inline-flex;

}
.tabla-features{
    position: absolute;
    width: 1170px;
    height: 122px;
    left: 215px;
    top: 775px;
}

.table-header{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
}

.table-features-body{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}
.a-que-nos-dedicamos{
    position: absolute;
    width: 1173.16px;
    height: 425px;
    left: 215px;
    top: 991px;
    
 
}
.a-que-nos-dedicamos-titulo{
    
    margin-left: 404px;
    margin-right: 397px;
    width: 371.15px;
    height: 46.24px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}
.nuestro-equipo{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1510px;

    background-color: #F5F4FA;
}
.nuestro-equipo-titulo{

    margin-top: 94px;
    margin-bottom: 512px;
    margin-left: 669px;
    margin-right: 668px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
